
body{
background: rgb(219,152,255);
background: -moz-radial-gradient(circle, rgba(219,152,255,1) 0%, rgba(241,212,237,1) 100%);
background: -webkit-radial-gradient(circle, rgba(219,152,255,1) 0%, rgba(241,212,237,1) 100%);
background: radial-gradient(circle, rgba(219,152,255,1) 0%, rgba(241,212,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#db98ff",endColorstr="#f1d4ed",GradientType=1);
 
 }

div, h3, h4 {   display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
   }


li{
list-style-type:none;
display: hide;
 }
 
 footer{
 display:flex;
 justify-content: center; 
 text-align:center;}
 footer a{
 margin:auto;
}
 
 img{
 margin: 7px;
 padding-right: 5vw;
 width:  95vw;
  }
  
.reading_font{ font-weight:300; 
font-size:large;
 margin:15px;
 padding-right: 15px;
 padding-left: 15px;
  }

.songs{

 font-weight:bold;
 }
 
a  { color:#0000FF;
text-decoration:none; }
a:visited { color:#475698; }
a:hover { color:#475698; font-size:xx-large; }
a:active { color:#6e08e2; }


a.songs  { color:darkcyan;
  text-decoration:underline;
}
  a:visited.songs{ color: darkgreen;}
  a:hover.songs{ color:darkgreen; font-size:xx-large;}
  a:active.songs{ color:darkcyan;}

  .indeximg {
    
      max-width: 75%;
      max-height: 75%;
  }

